<div class="flex gap-4 items-center max-w-screen-sm bg-white dark:bg-gray-800 shadow-sm rounded-lg p-4 border border-gray-200 dark:border-gray-700 hover:shadow-md dark:hover:shadow-lg dark:hover:shadow-gray-800/50 transition-all duration-200">
    <div class="flex items-center justify-center size-12 rounded-lg bg-orange-400">
        <svg class="size-8 text-white" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-seedling"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 3a7 7 0 0 1 6.95 6.155a6.97 6.97 0 0 1 5.05 -2.155h3a1 1 0 0 1 1 1v1a7 7 0 0 1 -7 7h-2v4a1 1 0 0 1 -2 0v-7h-2a7 7 0 0 1 -7 -7v-2a1 1 0 0 1 1 -1z" /></svg>
    </div>
    <div>
        <h1 class="text-gray-800 dark:text-gray-100">Thanks for visiting our Blogs!</h1>
        <div class="flex gap-1 items-center text-sm mt-1 text-gray-600 dark:text-gray-300">
            <svg class="size-4" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
            </svg>              
            <p>Just now</p>
        </div>
    </div>
</div>
<style>
    #toggle:checked+.relative .dot {
        transform: translateX(100%);
    }

    #toggle:checked+.relative .block {
        background-color: #4CAF50;
    }
</style>