<div class="max-w-screen-sm bg-white dark:bg-gray-800 shadow-sm rounded-lg py-2 px-4 border border-gray-200 dark:border-gray-700 hover:shadow-md dark:hover:shadow-lg dark:hover:shadow-gray-800/50 transition-all duration-200">
    <div class="flex items-center p-4 pb-0">
        <img src="/images/001.png" alt="" class="size-10 flex-none rounded-full">
        <div class="ml-4 flex-auto leading-4">
            <div class="font-medium text-md dark:text-white">Sokha Heng</div>
            <div class="text-sm mt-1 text-slate-500 dark:text-slate-400">Sent you a friend request.</div>
        </div>
    </div>
    <div class="flex gap-3 p-4">
        <div class="pointer-events-auto rounded-md bg-indigo-600 px-3 py-1 font-semibold text-white hover:bg-indigo-500 dark:hover:bg-indigo-700">
            Accept
        </div>
        <div class="pointer-events-auto rounded-md px-3 py-1 text-center font-medium ring-1 shadow-xs ring-slate-700/10 hover:bg-slate-50 dark:ring-slate-300/10 dark:hover:bg-slate-800 dark:text-slate-300">
            Decline
        </div>
    </div>
</div>