<div class="flex flex-wrap gap-2 max-w-screen-sm bg-white dark:bg-gray-800 shadow-sm rounded-lg p-4 border border-gray-200 dark:border-gray-700 hover:shadow-md dark:hover:shadow-lg dark:hover:shadow-gray-900/50 transition-all duration-200">
    <img src="https://dlcdnwebimgs.asus.com/gain/8d71c389-2457-4629-8dc0-b80cbd74f1ee/w800" alt="ASUS Laptop" class="w-24 h-24 object-cover rounded-lg">
    <div class="w-full flex-1">
        <h2 class="text-md font-semibold text-gray-900 dark:text-white">ASUS ZenBook 14</h2>
        <p class="text-xs text-gray-500 dark:text-gray-400">Ultra-Slim Laptop | Intel Core i7 | 16GB RAM | 512GB SSD</p>
        <div class="flex items-center space-x-2 mt-2">
            <span class="text-md font-bold text-gray-900 dark:text-white">$899.99</span>
            <span class="text-sm text-gray-400 line-through">$1,099.99</span>
        </div>
        <div class="flex items-center justify-end gap-3 mt-4">
            <div class="flex items-center gap-3">
                <button class="flex items-center justify-center hover:bg-blue-50 dark:hover:bg-blue-900 text-gray-800 dark:text-gray-200 w-5 h-5 border border-gray-200 dark:border-gray-600 rounded-md">
                    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 12l14 0" />
                    </svg>
                </button>
                <span class="text-sm text-gray-900 dark:text-white">1</span>
                <button class="flex items-center justify-center hover:bg-blue-50 dark:hover:bg-blue-900 text-gray-800 dark:text-gray-200 w-5 h-5 border border-gray-200 dark:border-gray-600 rounded-md">
                    <svg class="size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" />
                    </svg>
                </button>
            </div>
            <button class="flex items-center justify-center bg-blue-500 text-sm text-white px-3 h-7 rounded-md whitespace-nowrap">Buy Now</button>
        </div>
    </div>
</div>
