<div class="max-w-screen-sm bg-white dark:bg-gray-800 shadow-sm rounded-lg p-4 border border-gray-200 dark:border-gray-700 hover:shadow-md dark:hover:shadow-lg dark:hover:shadow-gray-800/50 transition-all duration-200">
    
    <label for="file-upload" class="block cursor-pointer border-2 text-center border-dashed border-gray-300 dark:border-gray-600 rounded-lg p-8 bg-gray-50 dark:bg-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 transition">
      <span class="text-gray-500 dark:text-gray-300">Drag & drop your file here or</span>
      <span class="mt-2 text-blue-600 dark:text-blue-400 hover:text-blue-700 dark:hover:text-blue-300 pb-0.5 border-b border-blue-600 dark:border-blue-400 hover:border-blue-700 dark:hover:border-blue-300 border-dashed">Browse</span>
      <input type="file" id="file-upload" class="hidden">
    </label>

    <button class="mt-4 w-full py-2 bg-gray-800 text-white dark:bg-gray-100 dark:text-gray-800 rounded-lg hover:bg-gray-700 dark:hover:bg-gray-200 focus:outline-non">
      Upload File
    </button>

</div>